# TOP 500 COMPANIES IN THE WORLD

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

import chromedriver_autoinstaller
from selenium import webdriver

In [2]:
#install chrome
chromedriver_autoinstaller.install()

#use the installed browser for selenium
browser = webdriver.Chrome()

In [3]:
browser.get("https://disfold.com/world/companies/?page=1")

In [4]:
#make beautiful html
soup = BeautifulSoup(browser.page_source, "lxml")

In [5]:
#mengambil data

draft = soup.find_all('td', class_="center-align")

In [6]:
data_draft = []

for d in range (0, len(draft)):
    data_draft.append(draft[d])

In [7]:
#mencari ranking

ranks = []

for r in range(0, len(data_draft), 3): #hanya mengambil rank yg dimulai dri indeks 0 dan berjarak 3 index
    ranks.append(data_draft[r].text.strip())

In [8]:
ranks

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50']

In [9]:
#mencari market cap

mcap = []

for m in range(1, len(data_draft), 3): #hanya mengambil market cap yg dimulai dri indeks 1 dan berjarak 3 index
    mcap.append(data_draft[m].text.strip())

In [10]:
mcap

['$2.067 T',
 '$1.883 T',
 '$1.788 T',
 '$1.158 T',
 '$875.51 B',
 '$683.10 B',
 '$495.37 B',
 '$461.85 B',
 '$454.25 B',
 '$439.96 B',
 '$422.35 B',
 '$394.66 B',
 '$393.34 B',
 '$388.97 B',
 '$382.38 B',
 '$379.74 B',
 '$364.18 B',
 '$359.15 B',
 '$347.61 B',
 '$336.43 B',
 '$334.33 B',
 '$321.97 B',
 '$319.89 B',
 '$314.09 B',
 '$304.61 B',
 '$292.61 B',
 '$287.63 B',
 '$285.80 B',
 '$281.30 B',
 '$275.08 B',
 '$265.70 B',
 '$259.51 B',
 '$256.61 B',
 '$248.90 B',
 '$231.29 B',
 '$229.28 B',
 '$224.86 B',
 '$220.56 B',
 '$220.39 B',
 '$217.81 B',
 '$215.98 B',
 '$215.80 B',
 '$201.13 B',
 '$196.94 B',
 '$196.71 B',
 '$195.22 B',
 '$194.45 B',
 '$193.02 B',
 '$191.43 B',
 '$190.92 B']

In [11]:
#mencari stock

stocks = []

for s in range(2, len(data_draft), 3): #hanya mengambil stock yg dimulai dri indeks 2 dan berjarak 3 index
    stocks.append(data_draft[s].text.strip())

In [12]:
stocks

['AAPL',
 '2222',
 'MSFT',
 'GOOG',
 'AMZN',
 'BRK.B',
 'UNH',
 'JNJ',
 'XOM',
 'V',
 '0700',
 '2330',
 'JPM',
 'TSLA',
 'WMT',
 'MC',
 'NVDA',
 'PG',
 'LLY',
 'CVX',
 'MA',
 'HD',
 'META',
 '600519',
 'NOVO.B',
 '005930',
 'PFE',
 'ABBV',
 'MRK',
 'KO',
 'BAC',
 'ROG',
 '9988',
 'PEP',
 'AVGO',
 'ASML',
 'BHP',
 'PRX',
 'ORCL',
 'AZN',
 'TMO',
 '601398',
 'COST',
 'CSCO',
 'SHEL',
 'OR',
 'NOVN',
 'MCD',
 'ABT',
 'DHR']

In [13]:
company = soup.find_all('a')

In [14]:
names = []
for n in range (8, (6*51)+2): #karena ada 6 data, dan satu halaman ada 50 baris (50+1)
    names.append(company[n])

In [16]:
#mencari nama perusahaan

companies = []

for c in range(0, len(names), 6): #hanya mengambil nama yg dimulai dri indeks 0 dan berjarak 6 index
    companies.append(names[c].text.strip())

In [17]:
companies

['Apple Inc.',
 'Saudi Arabian Oil Company',
 'Microsoft Corporation',
 'Alphabet Inc.',
 'Amazon.com, Inc.',
 'Berkshire Hathaway Inc.',
 'UnitedHealth Group Incorporated',
 'Johnson & Johnson',
 'Exxon Mobil Corporation',
 'Visa Inc.',
 'Tencent Holdings Ltd',
 'Taiwan Semiconductor Manufacturing Company Limited',
 'JPMorgan Chase & Co.',
 'Tesla, Inc.',
 'Walmart Inc.',
 'LVMH Moët Hennessy - Louis Vuitton, SE',
 'Nvidia Corporation',
 'The Procter & Gamble Company',
 'Eli Lilly and Company',
 'Chevron Corporation',
 'Mastercard Incorporated',
 'The Home Depot, Inc.',
 'Meta Platforms, Inc.',
 'Kweichow Moutai Co. Ltd',
 'Novo Nordisk A/S',
 'Samsung Electronics Co., Ltd.',
 'Pfizer Inc.',
 'AbbVie Inc.',
 'Merck & Co., Inc.',
 'The Coca-Cola Company',
 'Bank of America Corporation',
 'Roche Holding AG',
 'Alibaba Group Holding Limited',
 'PepsiCo, Inc.',
 'Broadcom Inc.',
 'ASML Holding N.V.',
 'BHP Group',
 'Prosus N.V.',
 'Oracle Corporation',
 'AstraZeneca plc',
 'Thermo Fisher Scientific Inc.',
 'Industrial & Commercial Bank of China Ltd',
 'Costco Wholesale Corporation',
 'Cisco Systems, Inc.',
 'Shell plc',
 "L'Oréal SA",
 'Novartis AG',
 "McDonald's Corporation",
 'Abbott Laboratories',
 'Danaher Corporation']

In [18]:
#mencari nama perusahaan

country = []

for y in range(3, len(names), 6): #hanya mengambil negara yg dimulai dri indeks 3 dan berjarak 6 index
    country.append(names[y].text.strip())

In [19]:
country

['United States',
 'Saudi Arabia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'China',
 'Taiwan',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'China',
 'Denmark',
 'South Korea',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Switzerland',
 'China',
 'United States',
 'United States',
 'Netherlands',
 'Australia',
 'Netherlands',
 'United States',
 'United Kingdom',
 'United States',
 'China',
 'United States',
 'United States',
 'United Kingdom',
 'France',
 'Switzerland',
 'United States',
 'United States',
 'United States']

In [20]:
#mencari sektor perusahaan

sectors = []

for s in range(4, len(names), 6): #hanya mengambil sektor yg dimulai dri indeks 4 dan berjarak 6 index
    sectors.append(names[s].text.strip())

In [21]:
sectors

['Technology',
 'Energy',
 'Technology',
 'Communication Services',
 'Consumer Discretionary',
 'Financials',
 'Healthcare',
 'Healthcare',
 'Energy',
 'Financials',
 'Communication Services',
 'Technology',
 'Financials',
 'Consumer Discretionary',
 'Consumer Staples',
 'Consumer Discretionary',
 'Technology',
 'Consumer Staples',
 'Healthcare',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Communication Services',
 'Consumer Staples',
 'Healthcare',
 'Technology',
 'Healthcare',
 'Healthcare',
 'Healthcare',
 'Consumer Staples',
 'Financials',
 'Healthcare',
 'Consumer Discretionary',
 'Consumer Staples',
 'Technology',
 'Technology',
 'Basic Materials',
 'Communication Services',
 'Technology',
 'Healthcare',
 'Healthcare',
 'Financials',
 'Consumer Staples',
 'Technology',
 'Energy',
 'Consumer Staples',
 'Healthcare',
 'Consumer Discretionary',
 'Healthcare',
 'Healthcare']

In [22]:
#mencari nama perusahaan

industries = []

for i in range(5, len(names), 6): #hanya mengambil nama yg dimulai dri indeks 5 dan berjarak 6 index
    industries.append(names[i].text.strip())

In [23]:
industries

['Consumer Electronics',
 'Oil & Gas Integrated',
 'Software—Infrastructure',
 'Internet Content & Information',
 'Internet Retail',
 'Financial Conglomerates',
 'Healthcare Plans',
 'Drug Manufacturers—General',
 'Oil & Gas Integrated',
 'Credit Services',
 'Internet Content & Information',
 'Semiconductors',
 'Banks',
 'Auto Manufacturers',
 'Discount Stores',
 'Luxury Goods',
 'Semiconductors',
 'Household & Personal Products',
 'Drug Manufacturers—General',
 'Oil & Gas Integrated',
 'Credit Services',
 'Home Improvement Retail',
 'Internet Content & Information',
 'Beverages—Wineries & Distilleries',
 'Biotechnology',
 'Consumer Electronics',
 'Drug Manufacturers—General',
 'Drug Manufacturers—General',
 'Drug Manufacturers—General',
 'Beverages—Non-Alcoholic',
 'Banks',
 'Drug Manufacturers—General',
 'Internet Retail',
 'Beverages—Non-Alcoholic',
 'Semiconductors',
 'Semiconductor Equipment & Materials',
 'Other Industrial Metals & Mining',
 'Internet Content & Information',
 'Software—Infrastructure',
 'Drug Manufacturers—General',
 'Diagnostics & Research',
 'Banks',
 'Discount Stores',
 'Communication Equipment',
 'Oil & Gas Integrated',
 'Household & Personal Products',
 'Drug Manufacturers—General',
 'Restaurants',
 'Medical Devices',
 'Diagnostics & Research']

# Multipage

In [24]:
ranks = []
companies = []
mcap = []
stocks = []
country = []
sectors = []
industries = []

for index in range (1, 11): #ingin mengambil 500 data (10 halaman)
    page = requests.get(f'https://disfold.com/world/companies/?page={index}') 
    soup = BeautifulSoup(page.content, 'html.parser')
    
    draft = soup.find_all('td', class_="center-align")
    data_draft = []
    for d in range (0, len(draft)):
        data_draft.append(draft[d])
        
    for r in range(0, len(data_draft), 3): #hanya mengambil rank yg dimulai dri indeks 0 dan berjarak 3 index
        ranks.append(data_draft[r].text.strip())
            
    for m in range(1, len(data_draft), 3): #hanya mengambil market cap yg dimulai dri indeks 1 dan berjarak 3 index
        mcap.append(data_draft[m].text.strip())
        
    for s in range(2, len(data_draft), 3): #hanya mengambil stock yg dimulai dri indeks 2 dan berjarak 3 index
        stocks.append(data_draft[s].text.strip())
    
    company = soup.find_all('a')
    names = []
            
    for n in range (8, (6*51)+2): #karena ada 6 data, dan satu halaman ada 50 baris (50+1)
        names.append(company[n])
        
    for c in range(0, len(names), 6): #hanya mengambil nama yg dimulai dri indeks 0 dan berjarak 6 index
        companies.append(names[c].text.strip())
        
    for y in range(3, len(names), 6): #hanya mengambil negara yg dimulai dri indeks 3 dan berjarak 6 index
        country.append(names[y].text.strip())
    
    for s in range(4, len(names), 6): #hanya mengambil sektor yg dimulai dri indeks 4 dan berjarak 6 index
        sectors.append(names[s].text.strip())
    
    for i in range(5, len(names), 6): #hanya mengambil nama yg dimulai dri indeks 5 dan berjarak 6 index
        industries.append(names[i].text.strip())

In [25]:
data = {
    'Rank': ranks,
    'Company': companies,
    'Market Cap': mcap,
    'Stock': stocks,
    'Country': country,
    'Sector': sectors,
    'Industry': industries
}

In [26]:
pd.DataFrame(data)

,Rank,Company,Market Cap,Stock,Country,Sector,Industry
0,1,Apple Inc.,$2.067 T,AAPL,United States,Technology,Consumer Electronics
1,2,Saudi Arabian Oil Company,$1.883 T,2222,Saudi Arabia,Energy,Oil & Gas Integrated
2,3,Microsoft Corporation,$1.788 T,MSFT,United States,Technology,Software—Infrastructure
3,4,Alphabet Inc.,$1.158 T,GOOG,United States,Communication Services,Internet Content & Information
4,5,"Amazon.com, Inc.",$875.51 B,AMZN,United States,Consumer Discretionary,Internet Retail
...,...,...,...,...,...,...,...
495,496,NatWest Group plc,$31.83 B,NWG,United Kingdom,Financials,Banks
496,497,The Kroger Co.,$31.83 B,KR,United States,Consumer Staples,Grocery Stores
497,498,China CITIC Bank Corp Ltd,$31.75 B,601998,China,Financials,Banks
498,499,Experian plc,$31.71 B,EXPN,Ireland,Industrials,Consulting Services
499,500,"Old Dominion Freight Line, Inc.",$31.71 B,ODFL,United States,Industrials,Trucking

In [27]:
pd.DataFrame(data).to_excel('Top_500_Companies.xlsx')